.our-advantages-section {
    display: flex; /* Используем flexbox для разделения */
    height: 100vh; /* Высота секции на весь экран */
    background-color: #e4c4e5; /* Цвет фона */
    display: flex; /* Используем flexbox */
    flex-direction: column; /* Элементы внутри расположены в колонку */
    justify-content: center; /* Выравнивание по вертикали */
    align-items: center; /* Выравнивание по горизонтали */
    text-align: center; /* Центрирование текста по горизонтали */
    box-sizing: border-box; /* Включаем отступы в расчёт ширины */
  }
  
  /* Стили для заголовка */
  .our-advantages-section h1 {
    color: #000000;
    margin: 0; /* Убираем отступы */
    margin-bottom: 50px; /* Отступ снизу для разделения с подзаголовком */
    
  }
  
  /* Стили для подзаголовка */
  .our-advantages-section h3 {
    color: #000000;
    
    margin: 0; /* Убираем отступы */
    line-height: 1.6; /* Межстрочный интервал для удобочитаемости */
    
  }