
#contacts {
    display: flex; 
    height: auto; 
  }
  
  .left-container {
    flex: 1; 
    background-color: #82497a; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding: 20px;
    color: #fff;
    
    line-height: 1.8;
  }

  .left-container h1 {
   
    color: #fff;
  }
  
  .contact-info p {
    margin: 10px 0;
    color: #fff;
  }
  
  .contact-info .bold {
    font-weight: bold;
  }
  
  .right-container {
    flex: 1; 
    background-color: #fff;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    color: #000; 
    padding: 20px;
    box-sizing: border-box;
  }
  

  .right-container h1 {
    margin-bottom: 20px;
    text-align: center;
    color: #000;
  }
  
  /* Стили формы */
  .right-container form {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
  }
  
  .right-container label {
    margin-bottom: 15px;
    color: #000;
    font-size: 20px
  }
  
  .right-container input,
  .right-container textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
  }
  
  .right-container textarea {
    height: 100px;
    resize: none;
  }
  
  /* Стили кнопки */
  .right-container button {
    margin-top: 20px;
    padding: 20px 40px; 
    background-color: #EB86D5; 
    color: #fff;
    border: none;
    border-radius: 50px; 
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease; 
  }
  
  .right-container button:hover {
    background-color: #F78FB3; 
  }
  
  .error-input {
    border: 2px solid red;
  }
  
  .error-message {
    color: red;
    font-size: 12px;
    display: block;
    margin-top: 5px;
  }
  

  @media (max-width: 767px) {
    #contacts {
      flex-direction: column; 
    }
  
    .left-container {
      order: 1; 
    }
  
    .right-container {
      order: 2; 
    }
  }
  