/* Анимация для появления */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Основная секция */
.about-section {
  display: flex;
  height: 100vh;
}

/* Левая часть (розовый фон) */
.about-section .left-container {
  flex: 1;
  background-color: #9A529B;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 20px;
}

/* Правая часть (белый фон) */
.about-section .right-container {
  flex: 1;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  opacity: 0; /* Скрываем изначально */
  transform: translateY(20px); /* Сдвигаем вниз */
  transition: opacity 0.5s ease, transform 0.5s ease;
}

/* Когда секция видна */
.about-section.visible .right-container {
  opacity: 1;
  transform: translateY(0);
}

/* Заголовок */
.about-section h1 {
  color: #ffffff;
  font-size: 2.5rem;
  text-align: center;
}


.about-section p {
  color: #000000;
  font-size: 1.2rem;
  text-align: center;
  line-height: 1.6;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}


.about-section.visible p {
  opacity: 1;
  transform: translateY(0);
}


.transition-header:hover {
  transform: scale(1.1);
  filter: brightness(0.9);
}


@media (max-width: 767px) {
  .about-section {
    flex-direction: column;
  }

  .about-section .left-container {
    display: none;
  }

  .about-section .right-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 10px 5px;
  }
}
