.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #9A529B;
  color: #FFDC92;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  height: 40px;
}

.nav {
  display: flex;
}

.nav-list {
  display: flex;
  list-style: none;
  gap: 100px;
}

.nav-list li {
  cursor: pointer;
  color: #FFDC92;
  transition: color 0.3s ease;
}

.nav-list li:hover {
  color: #00bcd4;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .header {
    height: 35px; 
    padding: 8px; 
  }

  .nav-list {
    gap: 50px; 
  }

  .nav-list li {
    font-size: 14px; 
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .header {
    height: 30px; 
    padding: 6px;
  }

  .nav-list {
    gap: 30px;
  }

  .nav-list li {
    font-size: 12px;
  }
}

/* Стили для мобильных экранов */
@media (max-width: 767px) {
  .header {
    justify-content: space-between; /* Добавляем место для кнопки-бургера */
    height: 40px; 
    padding: 10px;
  }

  .burger {
    display: block; /* Показываем кнопку только на мобильных */
    background: none;
    border: none;
    color: #FFDC92;
    font-size: 24px;
    cursor: pointer;
  }

  .navigate {
    display: none; /* Меню скрыто изначально */
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    background-color: #9A529B;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
  }

  .navigate.open {
    display: flex; /* Показываем меню, если добавлен класс open */
  }

  .nav-list {
    flex-direction: column;
    gap: 20px;
  }

  .nav-list li {
    font-size: 16px;
  }
}

/* Скрытие кнопки-бургера на экранах больше 767px */
@media (min-width: 768px) {
  .burger {
    display: none; /* Кнопка отсутствует */
  }

  .navigate {
    display: flex; /* Меню всегда отображается */
  }
}
