.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #9A529B;
  color: #FFDC92;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  height: 40px;
}

.nav {
  display: flex;
}

.nav-list {
  display: flex;
  list-style: none;
  gap: 100px;
}

.nav-list li {
  cursor: pointer;
  color: #FFDC92;
  transition: color 0.3s ease;
}

.nav-list li:hover {
  color: #00bcd4;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .header {
    height: 35px; /* Уменьшение высоты */
    padding: 8px; /* Уменьшение отступов */
  }

  .nav-list {
    gap: 50px; /* Уменьшение расстояния между элементами */
  }

  .nav-list li {
    font-size: 14px; /* Уменьшение размера шрифта для ссылок */
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .header {
    height: 30px; /* Еще меньше высота */
    padding: 6px;
  }

  .nav-list {
    gap: 30px;
  }

  .nav-list li {
    font-size: 12px;
  }
}

@media (max-width: 767px) {


  .header {
    height:250px;
    position: relative;
  /* Позволяем высоте адаптироваться */
    padding: 10px;
    /* Элементы располагаются вертикально */
  }

  .nav {
    flex-direction: column; /* Вертикальное расположение навигации */
    align-items: center;
  }

  .nav-list {
    flex-direction: column; /* Вертикальное расположение списка */
    gap: 20px; /* Уменьшенное расстояние между пунктами */
  }

  .nav-list li {
    font-size: 16px; /* Читаемый размер текста на мобильных устройствах */
  }
}
